.user-box{
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
}
.user-block{
    width: 45%;
    border-radius: 10px;
    border: solid 1px gray;
    padding: 20px;
    margin-bottom: 8px;
}